<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>About Ama</title>
  </head>
  <body>
    <header>
      <nav id="main-nav">
        <div id="nav-name">Ama Ata Aidoo</div>
        <div id="nav-items">
          <ul>
            <li class="nav-item">
              <a href="/">Home</a>
            </li>
            <li class="nav-item nav-item-selected">
              <a href="/about">About</a>
            </li>
            <li class="nav-item">
              <a href="/works">Publications</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <div class="about-section">
        <section>
          <div class="title">
            <h2>Ama - Early Life</h2>
            <hr />
          </div>

          <div class="section-body">
            <p>
              Christina Ama Ata Aidoo was born on March 23, 1942, in Abeadzi
              Kyiakor, near Saltpond, in the Central Region of Ghana. Some
              sources (including Megan Behrent, Brown University, and Africa
              Who's Who) have stated that she was born on 31 March.[5][6] She
              had a twin brother, Kwame Ata.[7][8] Aidoo was raised in a Fante
              royal household, the daughter of Nana Yaw Fama, chief of Abeadzi
              Kyiakor, and Maame Abasema.[9] Her grandfather was murdered by
              neocolonialists,[10][11] which brought her father's attention to
              the importance of educating the children and families of the
              village on the history and events of the era. This led him to open
              up the first school in their village and influenced Aidoo to
              attend Wesley Girls' High School, where she first decided she
              wanted to be a writer.[12]
            </p>
          </div>
        </section>

        <section class="mt-16">
          <div class="title">
            <h2>Ata - Education & Career</h2>
            <hr />
          </div>

          <div class="section-body">
            <p>
              From 1957, Aidoo attended Wesley Girls' Senior High School in Cape
              Coast.[13][14] After high school, she enrolled in 1961 at the
              University of Ghana, Legon, where she obtained the degree of
              Bachelor of Arts in English and wrote her first play, The Dilemma
              of a Ghost, in 1964.[1] The play was published by Longman the
              following year, making Aidoo the first published female African
              dramatist.[3]
            </p>

            <p>
              After graduating, Aidoo held a fellowship in creative writing at
              Stanford University in California[1] before returning to Ghana in
              1969 to teach English at the University of Ghana.[15] She served
              as a research fellow at the Institute of African Studies there and
              as a lecturer in English at the University of Cape Coast, where
              she eventually rose to the position of professor.[16]
            </p>
          </div>
        </section>

        <section class="mt-16">
          <div class="title">
            <h2>Aidoo - Writing</h2>
            <hr />
          </div>

          <div class="section-body">
            <p>
              Aidoo's plays include <strong>The Dilemma of a Ghost</strong>,
              produced at Legon in 1964 (first published in 1965) and Pittsburgh
              in 1988, and Anowa, published in 1971 and produced at the Gate
              Theatre in London in 1991.[22][30]
            </p>
            <p>
              Her works of fiction particularly deal with the tension between
              Western and African worldviews. Her first novel, Our Sister
              Killjoy, was published in 1977 and remains one of her most popular
              works. It is notable for portraying a dissenting perspective on
              sexuality in Africa, and especially LGBT in Africa. Whereas one
              popular idea on the continent is that homosexuality is alien to
              Africa and an intrusion of ideas of Western culture into a pure,
              inherently heterosexual "African" culture, Aidoo portrays the main
              character of Killjoy as indulging in lesbian fantasies of her own,
              and maintaining sympathetic relationships with lesbian
              characters.[31]
            </p>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
