<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Ama</title>
  </head>
  <body>
    <header>
      <nav id="main-nav">
        <div id="nav-name">Ama Ata Aidoo</div>
        <div id="nav-items">
          <ul>
            <li class="nav-item nav-item-selected">
              <a href="/">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about">About</a>
            </li>
            <li class="nav-item">
              <a href="/works">Publications</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <!-- image goes here -->
      <div id="ama-image">
        <img src="/images/Ama_Ata_Aidoo.png" alt="">
        <h1>Ama Ata Aidoo</h1>
      </div>
    </main>
  </body>
</html>
