<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Works of Ama</title>
  </head>
  <body>
    <header>
      <nav id="main-nav">
        <div id="nav-name">Ama Ata Aidoo</div>
        <div id="nav-items">
          <ul>
            <li class="nav-item">
              <a href="/">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about">About</a>
            </li>
            <li class="nav-item nav-item-selected">
              <a href="/works">Publications</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <div class="publications">
        <div class="publication">
          <img src="images/book_1.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_2.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_3.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_4.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_5.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_6.webp" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_7.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_8.jpg" alt="" />
        </div>
        <div class="publication">
          <img src="images/book_9.jpg" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>
